body {margin: 0;padding: 0;}
p {margin: 0;padding: 0;}

.alert_box {background: #aba8f4;color: #4646b4;padding: 20px;border-radius: 5px;display: none;}
.alert_box p {display: inline-block;}
.alert_box button {float: right;}

/* .left_menu {width: 150px;height: 100%;background: #000;color: #fff;position: fixed;margin-left: -150px;}
.left_menu p {display: inline-block;}
.left_menu button {background: #000;color: #fff;border: none;float: right;} */

.jumbotron.main_background {background-image: url(../img/banner.jpg);background-size: cover;color: #fff;border-radius: 0;}
.black_background {background: rgba(0, 0, 0, 0.5);position: fixed;z-index: 5;width: 100%;height: 100%;display: none;}
.black_background .white_background {background: #fff;width: 80%;margin: 100px auto;padding: 20px;border-radius: 10px;}
.black_background .white_background p {display: inline-block;}
.black_background .white_background .form_group {margin-top: 10px;}
.black_background .white_background .form_group .form_control {width: 100%;}
.black_background .white_background .form_group #email_alert,
.black_background .white_background .form_group #password_alert {font-size: 13px;display: none;}
.black_background .white_background .btn {background: #0479f7;color: #fff;font-size: 13px;padding: 3px 10px;margin-top: 10px;}
.black_background .white_background .btn.btn_danger {background: #e52537;}

/* .nav_menu {display: flex;justify-content: space-between;align-items: center;padding: 15px;}
.nav_menu h4 {margin: 0;}
.nav_menu a {cursor: pointer;}
.list-group.nav_sub {display: none;} */