body {margin: 0;padding: 0;}

div {background-color: #ddd;}
div h1 {display: inline-flex;width: 55%;justify-content: flex-end;}
div button {float: right;border: none;background: #ddd;padding: 5px 10px;font-size: 15px;}