ul, li {margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
a {text-decoration: none;}

body {margin: 0;padding: 0;}

/* header */
.wrap {width: 1150px;margin: 0 auto;}
.header .wrap {display: flex;justify-content: space-between;align-items: flex-end;padding: 40px 0;}
.header .wrap .menu_box {width: 885px;display: flex;justify-content: space-between;align-items: center;}
.header .wrap .menu_box .menu {width: 620px;display: flex;justify-content: space-between;}
.header .wrap .menu li a {font-size: 15px;font-weight: bold;color: #314584;}
.header .wrap .menu li a:hover {color: #ff3946;}
.header .wrap .btn {border: none;border-radius: 5px;background: #fff;color: #ff3946;padding: 15px 35px;box-shadow: 1px 4px 5px 1px #ddd;font-weight: bold;cursor: pointer;}
.header .wrap .btn:hover {color: #314584;}

/* digital */
.wrap .digital {padding: 200px 0;}
.wrap .title {font-size: 70px;color: #314584;}
.wrap .digital .text {font-size: 18px;color: #6e757a;margin-top: 45px;}
.wrap .btn_box {margin: 45px 0 0 10px;}
.wrap .btn_box button {border: none;border-radius: 30px;background: #ff3946;color: #fff;padding: 17px 35px;font-size: 15px;font-weight: bold;letter-spacing: 1px;cursor: pointer;}
.wrap .btn_box button:hover {background: #314584;color: #ff3946;}
.wrap .btn_box button.but {background: #fff;color: #314584;}
.wrap .btn_box button.but:hover {color: #ff3946;}
.wrap .digital::after {content: '';display: block;background-image: url(./img/img_01.png);width: 680px;height: 660px;position: absolute;top: 200px;right: 50px;}

/* covered */
.wrap .covered {display: flex;justify-content: space-between;padding: 120px 0;}
.wrap .covered .covered_tit .title {font-size: 45px;}
.wrap .covered .covered_card {display: flex;justify-content: space-around;width: 747px;}
.wrap .covered .covered_card li {box-shadow: 1px 4px 6px 1px #ddd;padding: 40px 45px;height: 400px;width:320px;box-sizing: border-box;}
.wrap .covered .covered_card li strong {font-size: 27px;color: #314584;line-height: 1.5;}
.wrap .covered .covered_card li strong::before {content: '';background-repeat: no-repeat;display: block;margin-bottom: 50px;}
.wrap .covered .covered_card li .graphic::before {background-image: url(./img/icon.jpg);width: 57px;height: 56px;}
.wrap .covered .covered_card li .app::before {background-image: url(./img/icon_02.jpg);width: 65px;height: 48px;}
.wrap .covered .covered_card li p {font-size: 14px;color: #314584;line-height: 1.6;margin-top: 30px;margin-bottom: 10px;}

/* box */
.wrap .box {display: flex;justify-content: flex-end;padding-bottom: 100px;}
.wrap .box .company::before {content: '';display: block;background-image: url(./img/img_02.jpg);background-repeat: no-repeat;width: 657px;height: 376px;position: absolute;left: 100px;}
.wrap .title_sub {font-size: 18px;color: #ff3946;}
.wrap .title.tit {font-size: 48px;margin-top: 15px;}
.wrap .box .company p {font-size: 18px;color: #314584;margin-top: 45px;line-height: 1.5;}

/* work */
.wrap .work {padding: 100px 0;}
.wrap .work .title.tit {margin: 0;}
.wrap .work ul {display: flex;flex-wrap: wrap;justify-content: space-between;margin-top: 50px;}
.wrap .work ul li a {display: inline-block;height: 280px;margin-bottom: 35px;vertical-align: bottom;position: relative;overflow: hidden;}
.wrap .work ul li a::before {content: "";display: block;padding: 25%;background-color: #314584;opacity: 0.8;border-radius: 50%;position: absolute;top: 50%;left: 50%;transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;transform: translate(-50%, -50%) scale(0);}
.wrap .work ul li:hover a::before {transform: translate(-50%, -50%) scale(4);transition-duration: var(--photoboxAnimationDuration, .8s);}
.wrap .work ul li a span {opacity: 0;transition: opacity calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);position: absolute;top: 50%;left: 50%;transform: translate(-50%, 200%);color: #fff;font-weight: bold;font-size: 1.1rem;}
.wrap .work ul li:hover a span {opacity: 1;transform: translate(-50%, -50%);transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);transition-delay: calc(var(--photoboxAnimationDuration, .8s) / 4);}
.wrap .work .title_sub {display: block;text-align: center;font-weight: bold;}
.wrap .work .title_sub:hover {color: #314584;}

/* blog */
.wrap .blog {padding-bottom: 130px;}
.wrap .blog ul {display: flex;justify-content: space-between;margin-top: 50px;}
.wrap .blog ul li {padding: 50px 50px;box-sizing: border-box;width: 370px;background: #ff3946;}
.wrap .blog ul li strong {font-size: 18px;color: #fff;}
.wrap .blog ul li span {display: block;font-size: 14px;margin-top: 15px;color: #fff;}
.wrap .blog ul li p {font-size: 18px;margin-top: 35px;margin-bottom: 20px;color: #fff;line-height: 1.7;}
.wrap .blog ul li.post {background: #fff;box-shadow: 0px 3px 5px 1px #ddd;}
.wrap .blog ul .post .txt {color: #314584;}
.wrap .blog ul .post .text {color: #6e757a;}

/* us */
.wrap .us .send {margin-top: 50px;}
.wrap .us .send .txt {border: none;outline: none;background: #f4fafe;color: #314584;font-size: 14px;font-weight: bold;}
.wrap .us .send .input_box {display: flex;justify-content: space-between;}
.wrap .us .send .input_box input {width: 45%;height: 60px;padding: 0 20px;}
.wrap .us .send textarea {width: 100%;height: 100px;margin-top: 30px;padding: 20px;box-sizing: border-box;}
.wrap .us .send .btn_box {text-align: center;margin: 55px 0;}

/* footer */
.footer {background: #314584;}
.footer .wrap {padding: 50px 0;text-align: center;}
.footer .wrap .doob {font-size: 18px;color: #fff;}
.footer .wrap .above {display: block;font-size: 48px;color: #ff3946;margin-top: 5px;}
.footer .wrap .menu {display: inline-flex;justify-content: space-between;width: 517px;margin-top: 25px;}
.footer .wrap .menu li a {color: #fff;}
.footer .wrap .menu li a:hover {color: #ff3946;}
.footer .wrap p {font-size: 14px;color: #fff;margin-top: 45px;}