ul, li {margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
a {text-decoration: none;}

body {margin: 0;padding: 0;}

.top {width: 1296px;display: flex;justify-content: space-between;align-items: center;padding: 20px 0;margin: 0 auto;}
header .top .logo {font-size: 27px;color: #000;}
header .top ul {width: 420px;display: flex;justify-content: space-between;}
header .top ul li a {font-weight: bold;color: #000;}
header .top .top_right {width: 138px;display: flex;justify-content: space-between;}
header .top .top_right button {display: flex;align-items: center;justify-content: center;width: 36px;height: 36px;border-radius: 100%;border: none;background: #fff;cursor: pointer;}
header .top .top_right button:hover {background: #dddddd7d;}

.line {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background: #fff;line-height: 36px;position: sticky;top: 0;z-index: 5;}
.line .top.bottom .kakao {font-size: 18px;letter-spacing: -2px;}
.line .top.bottom .bottom_right {cursor: pointer;}
.line .top.bottom .bottom_right a {font-weight: bold;letter-spacing: -1px;color: #000;margin-right: 20px;}
.line .top.bottom .bottom_right button {width: 98px;display: inline-flex;align-items: center;border: none;background: #fff;justify-content: space-between;font-size: 16px;letter-spacing: -1px;position: relative;cursor: pointer;}
.line .top.bottom .bottom_right button::before {content: '';position: absolute;background: #ddd;width: 2px;height: 17px;left: -12px;}
.line .top.bottom .bottom_right a:hover,
.line .top.bottom .bottom_right strong:hover {text-decoration: underline;}

.wrap .inner_cont {height: 865px;}
.wrap .inner_cont p {text-align: center;font-size: 30px;font-weight: bold;letter-spacing: -2px;line-height: 1.5;position: absolute;top: 55%;left: 50%;transform: translate(-50%);white-space: nowrap;}

.wrap .group_desc {width: 816px;text-align: center;margin: 0 auto;position: relative;}
.wrap .group_desc h1 {font-size: 36px;letter-spacing: -4px;}
.wrap .group_desc p {color: #666;font-size: 15px;font-weight: bold;letter-spacing: -1px;line-height: 1.7;margin-top: 24px;}
.wrap .group_desc .img {width: 816px;height: 459px;background: #eaeaea5c;margin-top: 60px;}
.wrap .group_desc button {position: absolute;width: 42px;height: 42px;bottom: 260px;border: none;border-radius: 100%;cursor: pointer;color: #666666b3;background: #f2f2f2a3;}
.wrap .group_desc button.left {left: -62px;}
.wrap .group_desc button.right {right: -62px;}
.wrap .group_desc button .bi {vertical-align: middle;}
.wrap .group_desc .num {font-size: 18px;margin-top: 25px;}
.wrap .group_desc .num span:last-child {color: #666;}




