ul, li {margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h5, p {margin: 0;padding: 0;}
a {text-decoration: none;}

body {margin: 0;padding: 0;}

/* header */
.wrap {width: 1150px;margin: 0 auto;}
header .wrap {display: flex;align-items: flex-end;padding: 40px 0;}
header .wrap a {width: 30%;}
header .wrap .menu_box {width: 100%;display: flex;justify-content: space-between;align-items: center;}
header .wrap .menu_box .menu {width: 70%;display: flex;justify-content: space-between;}
header .wrap .menu li a {font-size: 15px;font-weight: bold;color: #314584;}
header .wrap .menu li a:hover {color: #ff3946;}
header .wrap .btn {border: none;border-radius: 5px;background: #fff;color: #ff3946;padding: 15px 35px;box-shadow: 1px 4px 5px 1px #ddd;font-weight: bold;}

/* digital */
.wrap .digital {padding: 200px 0;}
.wrap .digital h1 {font-size: 70px;color: #314584;}
.wrap .digital .text {font-size: 18px;color: #6e757a;margin-top: 45px;}
.wrap .digital .btn_box {margin-top: 45px;margin-left: 10px;}
.wrap .btn_box button {border: none;border-radius: 30px;background: #ff3946;color: #fff;padding: 17px 35px;font-size: 15px;font-weight: bold;letter-spacing: 1px;}
.wrap .digital .btn_box .but {background: #fff;color: #314584;}
.wrap .digital::after {content: '';background-image: url(./img/img_01.png);width: 680px;height: 660px;position: absolute;top: 200px;right: 50px;}
/* .wrap .digital img {position: absolute;top: 230px;right: 50px;width: 40%;} */

/* covered */
.wrap .covered {display: flex;padding: 120px 0;}
.wrap .covered .left {width: 35%;}
.wrap .covered .left h2 {font-size: 45px;color: #314584;}
.wrap .covered .left .btn_box button {margin-top: 45px;margin-left: 10px;}
.wrap .covered .right {display: flex;justify-content: space-around;width: 65%;}
.wrap .covered .right li {box-shadow: 1px 4px 6px 1px #ddd;padding: 40px 45px;height: 400px;width:320px;box-sizing: border-box;}
.wrap .covered .right li strong {font-size: 27px;color: #314584;line-height: 1.5;}
.wrap .covered .right li strong::before {content: '';background-repeat: no-repeat;display: block;margin-bottom: 50px;}
.wrap .covered .right li .graphic::before {background-image: url(./img/icon.jpg);width: 57px;height: 56px;}
.wrap .covered .right li .app::before {background-image: url(./img/icon_02.jpg);width: 65px;height: 48px;}
.wrap .covered .right li p {font-size: 14px;color: #314584;line-height: 1.6;margin-top: 30px;margin-bottom: 10px;}

/* box */
.wrap .box {display: flex;justify-content: flex-end;}
.wrap .box .company::before {content: '';background-image: url(./img/img_02.jpg);background-repeat: no-repeat;width: 657px;height: 376px;position: absolute;left: 100px;}
.wrap .box .company strong {font-size: 18px;color: #ff3946;}
.wrap .box .company h3 {font-size: 48px;color: #314584;margin-top: 20px;}
.wrap .box .company p {font-size: 18px;color: #314584;margin-top: 45px;line-height: 1.5;}