ul, li {margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
a {text-decoration: none;}

/* body {margin: 0;padding: 0;} */
body {margin: 0;padding: 0;color: hsl(230, 100%, 95%);background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));}

@font-face {
    font-family: 'bitcore';
    src: url(../portfolio/VITRO_Font_TTF/비트로\ 코어\ TTF.ttf);
}



header {position: fixed;top: 0;bottom: 0;padding: 25px;display: flex;flex-direction: column;justify-content: space-around;}
header .menu {display: flex;flex-direction: column;justify-content: space-evenly;height: 300px;}
header .menu li a {display: inline-flex;align-items: flex-end;color: #fff;}
header .menu li a strong {margin-left: 10px;position: relative;}
header .menu li:first-child a strong::before {width: 100%;}
header .menu li a strong::before {content: '';height: 2px;width: 0;background: #fff;transition: 0.5s;position: absolute;bottom: 0;}
header .menu li a:hover strong::before {width: 100%;}

.con {height: 100vh;}
.con.home {display: flex;flex-direction: column;align-items: center;justify-content: center;}
/* .con.home strong {font-size: 55px;font-family: 'bitcore';color: #fff;}
.con.home h1 {font-size: 60px;font-family: 'bitcore';color: #fff;margin-top: 20px;} */
.con.home .txt {font-size: 65px;animation: lights 5s 750ms linear infinite;font-family: 'Raleway';}
.con.home h1.txt {font-size: 70px;margin-top: 20px;}
@keyframes lights {
    0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
}

.about {display: flex;flex-direction: column;align-content: center;flex-wrap: wrap;justify-content: center;}
.about .me {text-align: center;}
.about .me h2 {font-size: 35px;}
.about .me p {font-size: 20px;margin-top: 15px;}
.about .me p span {color: #607d8b;}
.about ul {margin-top: 80px;display: flex;flex-direction: column;flex-wrap: wrap;align-content: center;}
.about ul li {line-height: 65px;}

.skills {width: 1300px;margin: 0px 335px;padding: 150px 120px;box-sizing: border-box;}
.skills h3 {font-size: 45px;}
.skills ul {margin-top: 170px;display: flex;justify-content: space-between;}
.skills ul li:first-child {border: 1px solid;border-radius: 15px;padding: 20px;cursor: pointer;}
.skills ul li:first-child strong {box-shadow: none;padding: 0;}
.skills ul li:first-child p {display: block;}
.skills ul li:hover {border: 1px solid;border-radius: 15px;padding: 20px;cursor: pointer;}
.skills ul li strong {font-size: 28px;box-shadow: 1px 1px 2px 2px;padding: 0 3px;}
.skills ul li:hover strong {box-shadow: none;padding: 0;}
.skills ul li p {line-height: 28px;margin-top: 18px;display: none;}
.skills ul li:hover p {display: block;}

.portfolio .explanation {display: flex;justify-content: space-between;margin-top: 50px;}
.portfolio .explanation p {line-height: 30px;padding: 50px 0;}
.portfolio .explanation .img::after {content: '';display: block;width: 580px;height: 430px;background: #ddd;}
.portfolio .btn {margin-top: 100px;display: flex;justify-content: center;}
.portfolio .btn button {width: 18px;height: 18px;border: none;border-radius: 10px;background: #ddd;cursor: pointer;}
.portfolio .btn button:first-child {background-color: #9e9e9e;}
.portfolio .btn button + button {margin-left: 15px;}