ul, li {margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
a {text-decoration: none;}

body {margin: 0;padding: 0;background: #2f3336;}

@font-face {
    font-family: 'vitro';
    src: url(../portfolio/VITRO_Font_TTF/비트로\ 코어\ TTF.ttf);
}
@font-face {
    font-family: 'score';
    src: url(../portfolio/S-Core_Dream_OTF/SCDream3.otf);
}
@font-face {
    font-family: 's_core';
    src: url(../portfolio/S-Core_Dream_OTF/SCDream4.otf);
}

header {position: fixed;top: 0;bottom: 0;padding: 25px;display: flex;flex-direction: column;justify-content: space-around;}
header .menu {display: flex;flex-direction: column;justify-content: space-evenly;height: 300px;}
header .menu li a {display: inline-flex;align-items: flex-end;color: #fff;}
header .menu li a strong {margin-left: 10px;position: relative;}
header .menu li:first-child a strong::before {width: 100%;}
header .menu li a strong::before {content: '';height: 2px;width: 0;background: #fff;transition: 0.5s;position: absolute;bottom: 0;}
header .menu li a:hover strong::before {width: 100%;}

.con {height: 100vh;width: 1250px;margin: 0 auto;padding: 150px 120px;box-sizing: border-box;}
.con h1 {font-family: 'vitro';font-size: 50px;color: #fff;text-align: center;}

.home {display: flex;flex-direction: column;align-items: center;justify-content: center;}
.home .text_line text {stroke-dasharray: 500;stroke-dashoffset: 500;animation: dash 5s linear forwards, filling 4s ease-in forwards;}
@keyframes dash {
    to {
    stroke-dashoffset: 0;
    }
}
@keyframes filling {
    from{
    fill: #fff;
    fill-opacity: 0;
    }
    to {
    fill: #fff;
    fill-opacity: 1;
    }
}

.about .me {padding-top: 60px;}
.about .me p {font-family: 's_core';font-size: 20px;color: #fff;text-align: center;margin-top: 15px;}
.about .me p span {text-shadow: 0px 0px 10px;}
.about ul {padding: 130px 113px 0;}
.about ul li {display: inline-block;font-family: 'score';font-size: 18px;letter-spacing: 1px;line-height: 65px;color: #fff;}
.about ul li:nth-child(odd) {width: 420px;}
.about ul li strong {display: inline-block;width: 150px;}
.about ul li span {position: relative;}
.about ul li span::before {content: '';border-left: 2px solid #fff;position: absolute;top: 2px;bottom: 0px;left: -30px;}

.skills .container {width: 800px;height: 350px;background: #222128;border-radius: 15px;padding: 0.75rem;margin: 50px auto 0;position: relative;}
.skills .container::after {content: '';position: absolute;border-bottom: 2px solid #2f3336;width: 800px;top: 79px;}
.skills .container .tabs {display: flex;color: #494a50;}
.skills .container .tabs .tab {display: flex;align-items: center;justify-content: center;height: 54px;width: 200px;font-family: 'score';font-weight: bold;font-size: 23px;cursor: pointer;transition: color 0.10s ease-in;}
.skills .container .tabs .glider {position: absolute;height: 54px;width: 200px;background: #494a50;border-radius: 10px;transition: 0.25s ease-out;}
.skills .container .tabs .txt_box {display: flex;justify-content: center;width: 800px;font-family: 'score';font-size: 19px;color: #fff;position: absolute;top: 120px;}
.skills .container .tabs .txt_box .txt {display: none;}
input[type="radio"] {display: none;}
input[type="radio"]:checked + label {color: #fff;z-index: 2;}
input[id="radio_2"]:checked ~ .glider {transform: translateX(100%);}
input[id="radio_3"]:checked ~ .glider {transform: translateX(200%);}
input[id="radio_4"]:checked ~ .glider {transform: translateX(300%);}
.skills .container .tabs #radio_1:checked ~ .txt_box #radio_1_txt,
.skills .container .tabs #radio_2:checked ~ .txt_box #radio_2_txt,
.skills .container .tabs #radio_3:checked ~ .txt_box #radio_3_txt,
.skills .container .tabs #radio_4:checked ~ .txt_box #radio_4_txt {display: block;}

.portfolio h1 {text-align: left;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img {position:relative;width:650px;height:541px}
/* .portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img::before {content: '';display: block;width:100%;height:100%;background:url(./img/test2.png) 100%;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img::after {content: '';position:absolute;top:28px;left:28px;display: block;width:595px;height:334px;cursor: zoom-in;} 
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img.human::after {background:url(./img/human.png) 100%;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img.doob::after {background:url(./img/doob.png) 100%;} */
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img {background-image: url(./img/test2.png);}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .image {width:595px;height:334px;position: absolute;top: 28px;left: 28px;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img .image.human {background-image: url(./img/human.png);}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img .image.doob {background-image: url(./img/doob.png);}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img .image .explanation  {height: 334px;background: #fff;opacity: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;font-family: 's_core';transition: all 0.8s;cursor: url(./img/mouse02.png), auto;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img .image .explanation a {font-size: 14px;color: #fff;background: #222128;border-radius: 5px;padding: 10px 20px;margin-top: 20px;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img .image .explanation a:hover {background: #494a50;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .img .image:hover .explanation {opacity: .9;}

.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds {color: #fff;width: 360px;height: 541px;display: inline-grid;justify-content: end;align-content: center;gap: 40px;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds strong {font-size: 25px;font-family: 'score';}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds ul {height: 400px;}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds ul li {line-height: 55px;font-size: 19px;font-family: 'score';}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds ul li span:first-child {display: inline-block;width: 130px;}

.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds .swiper-pagination {right: 250px;top: 74%;}
/* .portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds .swiper-pagination::after {content: '';background-image: url(./img/scroll.png);display: block;width: 94px;height: 100px;position: absolute;top: 20px;left: 30px;} */
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds .swiper-pagination .swiper-pagination-bullet {width: 20px;height: 20px;opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);}
.portfolio .swiper.mySwiper .swiper-wrapper .swiper-slide .kinds .swiper-pagination .swiper-pagination-bullet-active {background: #fff;}

.swiper {width: 100%;height: 100%;margin-top: 20px;cursor: url(./img/mouse.png),auto;}
.swiper-slide {display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.swiper-slide img {display: block;width: 100%;height: 100%;object-fit: cover;}

