ul, li {margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
a {text-decoration: none;}

body {margin: 0;padding: 0;background: #2f3336;}

@font-face {
    font-family: 'vitro';
    src: url(../portfolio/VITRO_Font_TTF/비트로\ 코어\ TTF.ttf);
}
@font-face {
    font-family: 'score';
    src: url(../portfolio/S-Core_Dream_OTF/SCDream3.otf);
}
@font-face {
    font-family: 's_core';
    src: url(../portfolio/S-Core_Dream_OTF/SCDream4.otf);
}

header {position: fixed;top: 0;bottom: 0;padding: 25px;display: flex;flex-direction: column;justify-content: space-around;}
header .menu {display: flex;flex-direction: column;justify-content: space-evenly;height: 300px;}
header .menu li a {display: inline-flex;align-items: flex-end;color: #fff;}
header .menu li a strong {margin-left: 10px;position: relative;}
header .menu li:first-child a strong::before {width: 100%;}
header .menu li a strong::before {content: '';height: 2px;width: 0;background: #fff;transition: 0.5s;position: absolute;bottom: 0;}
header .menu li a:hover strong::before {width: 100%;}

.con {height: 100vh;width: 1250px;margin: 0px 335px;padding: 150px 120px;box-sizing: border-box;position: relative;}
.con h1 {font-family: 'vitro';font-size: 50px;color: #fff;text-align: center;}

.home {display: flex;flex-direction: column;align-items: center;justify-content: center;}
.home .text-line text {stroke-dasharray: 500;stroke-dashoffset: 500;animation: dash 5s linear forwards, filling 4s ease-in forwards;}
@keyframes dash {
    to {
    stroke-dashoffset: 0;
    }
}
@keyframes filling {
    from{
    fill: #fff;
    fill-opacity: 0;
    }
    to {
    fill: #fff;
    fill-opacity: 1;
    }
}

.about .me {padding-top: 60px;}
.about .me p {font-family: 's_core';font-size: 20px;color: #fff;text-align: center;margin-top: 15px;}
.about .me p span {text-shadow: 0px 0px 10px;}
.about ul {padding: 130px 113px 0;}
.about ul li {display: inline-block;font-family: 'score';font-size: 18px;letter-spacing: 1px;line-height: 65px;color: #fff;}
.about ul li:nth-child(odd) {width: 420px;}
.about ul li strong {display: inline-block;width: 150px;}
.about ul li span {position: relative;}
.about ul li span::before {content: '';border-left: 2px solid #fff;position: absolute;top: 2px;bottom: 0px;left: -30px;}

/* .skills ul {display: flex;justify-content: space-around;border: 1px solid;border-radius: 50px;box-shadow: 0px 1px 5px 2px;padding: 25px;margin-top: 70px;}
.skills ul li {color: #fff;} */
.skills ul li strong {font-size: 25px;}
.skills ul li p {line-height: 28px;margin-top: 18px;display: none;}

.skills ul {background: #222128;border-radius: 50px;box-shadow: 0px 1px 5px 2px;padding: 12px;margin-top: 70px;width: 750px;position: absolute;right: 238px;}
.skills ul li {color: #fff;padding: 10px 40px;border-radius: 30px;display: inline-block;}
.skills ul li:first-child {background: #494a50;}

.portfolio .explanation {display: flex;justify-content: space-between;margin-top: 50px;}
.portfolio .explanation p {line-height: 30px;padding: 50px 0;}
.portfolio .explanation .img::after {content: '';display: block;width: 580px;height: 430px;background: #ddd;}
.portfolio .btn {margin-top: 100px;display: flex;justify-content: center;}
.portfolio .btn button {width: 18px;height: 18px;border: none;border-radius: 10px;background: #ddd;cursor: pointer;}
.portfolio .btn button:first-child {background-color: #9e9e9e;}
.portfolio .btn button + button {margin-left: 15px;}