/* reset & common class*/
html,
body {width:100%;height:100%;-webkit-text-size-adjust:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,button {margin:0;padding:0;font-family:"Malgun Gothic",dotum,gulim,sans-serif}
fieldset,img {border:0}
strong,b {font-weight:bold}
ol,ul,li {list-style:none}
input,button,textarea,select,optgroup,option {font-family:inherit;font-size:inherit;font-weight:inherit;font-style:inherit}
button {border:0;background:transparent;cursor:pointer}
img {vertical-align:top}
a {text-decoration:none;color:initial}
.blind {overflow:hidden;clip:rect(1px,1px,1px,1px);position:absolute !important;width:1px;height:1px}

.wrap {background:#e6e6e6}
.wrap .header {display:flex;justify-content:space-between;align-items:center;padding:40px 50px}
.wrap .header .logo {display:inline-block;width:213px;height:35px;background:url('img/logo_black.png') center / 100% no-repeat}

.gnb_box {display:flex}
.gnb_menu {display:flex;align-items:center;}
.gnb_menu ul {display:flex}
.gnb_menu ul li a {display:inline-block;padding:10px;font-size:15px}
.gnb_menu ul li:hover {border-radius:30px;background:#fff}
.gnb_menu ul li+li {margin-left:15px}
.gnb_menu .connect {padding:10px;border:1px solid #000;border-radius:30px;}


.burger-icon {display:none;cursor: pointer;position: absolute;right:0;z-index: 2;padding: 8px 0;width: auto;margin: 0;}
.burger-icon .burger-sticks {background: #333;display: block;height: 2px;position: relative;transition: background .2s ease-out;width: 18px;}
.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {background: #333;content: '';display: block;height: 100%;position: absolute;transition: all .2s ease-out;width: 100%;}
.burger-icon .burger-sticks:before {top: 5px;}
.burger-icon .burger-sticks:after {top: -5px;}
.burger-check {display: none;}
.burger-check:checked~.burger-icon .burger-sticks {background: transparent;}
.burger-check:checked~.burger-icon .burger-sticks:before {transform: rotate(-45deg);}
.burger-check:checked~.burger-icon .burger-sticks:after {transform: rotate(45deg);}
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {top: 0;}
  

@media all and (max-width: 768px){
    .wrap .header {padding:20px}
    .wrap .header .logo {width:20vh}
    .wrap .header .gnb_menu .connect {margin-right:20px}
    .gnb_menu {position:absolute;top:0;right:0;margin:0;width:0;height:100%;transition: 0.5s ease;z-index:1}
    .gnb_menu:before {position: fixed;top:0;right:0;display:inline-block;width:0;height:100%;background:red;z-index:1;transition: 0.5s ease;opacity:0.5;content:''}
    .gnb_menu ul {display:block;z-index:2;}
    .gnb_menu ul li+li {margin:0}
    .burger-icon {display:block}
    .burger-check:checked~.gnb_box .gnb_menu {justify-content:center;width:100%}
    .burger-check:checked~.gnb_box .gnb_menu:before {width:100%}

}

@media all and (min-width: 768px){
}
@media all and (max-width: 1200px){
    
}

