ul, li {margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
a {text-decoration: none;}

body {margin: 0;padding: 0;}

/* header */
.wrap {width: 1170px;margin: 0 auto;}
header .wrap {display: flex;justify-content: space-between;padding: 30px 0;}
header .wrap .menu {display: flex;justify-content: space-between;align-items: center;width: 435px;}
header .wrap .menu li a {color: #000;}
header .wrap .menu li a:hover {color: #ffe600;}

/* hello */
.wrap .blind { border: 0; clip: rect(0 0 0 0); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; }
.wrap .hello {display: flex;justify-content: space-between;align-items: center;padding: 130px 0;}
.wrap .tit {font-size: 60px;}
.wrap .hello .hello_tit p {font-size: 13px;line-height: 2;margin-top: 30px;}
.wrap .btn_box {margin-top: 45px;}
.wrap .btn_box button {background: #ffe600;border: 1px solid #ffe600;font-size: 14px;font-weight: bold;padding: 15px 30px;cursor: pointer;}
.wrap .btn_box button:hover {background: #fff;}
.wrap .hello .hello_img {background: url(../Mint/img/1.png);width: 570px;height: 540px;}

/* work */
.wrap .work .menu_box {display: flex;justify-content: space-between;margin-top: 35px;}
.wrap .work .menu_box .list {display: flex;justify-content: space-between;width: 350px;}
.wrap .work .menu_box .list li {font-size: 13px;cursor: pointer;padding: 5px 15px;}
.wrap .work .menu_box .list li:first-child {background: #ffe600;}
.wrap .work .menu_box .list li:hover {background: #ffe600;}
.wrap .work .menu_box .first {position: relative;}
.wrap .work .menu_box .first span {font-size: 13px;cursor: pointer;}
.wrap .work .menu_box .first .drop {display: none;width: 120px;height: 100px;background: #fbfbfb;position: absolute;right: -10px;border-radius: 5px;box-shadow: 0px 1px 5px 1px #ddd;margin-top: 5px;}
.wrap .work .menu_box .first .drop a {display: block;font-size: 13px;text-align: center;color: #000;padding: 15px 0;}
.wrap .work .menu_box .first .drop a:hover {background: #ffe600;}
.wrap .work .menu_box .first:hover .drop {display: flex;flex-direction: column;justify-content: center;z-index: 1;}
.wrap .work .box {display: flex;justify-content: space-between;margin-top: 75px;}
.wrap .work .box li {min-height: 830px;display: flex;flex-direction: column;justify-content: space-between;}
.wrap .work .box li a.short {height: 300px;}
.wrap .work .box li a.long {height: 500px;}
.wrap .work .btn_box {text-align: center;margin: 50px 0;}
.wrap .work .box li a .read span {font-size: 13px;}
.wrap .box li a {display: inline-block;vertical-align: bottom;position: relative;}
.wrap .box li a .read {width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;color: #000;background: rgba(255,230,0,.8);position: absolute;bottom: 0;opacity: 0;transition: .3s ease;}
.wrap .box li a .read strong {font-size: 32px;}
.wrap .box li a:hover .read {opacity: 1;}

/* img_box */
.img_box {height: 300px;background: #fdfdfd;}
.img_box .wrap {display: flex;align-items: center;justify-content: space-between;height: 300px;}
.img_box .wrap li {margin: 0 10px;}
.img_box .wrap .img_01 {background-image: url(./img/img_01.png);width: 140px;height: 71px;}
.img_box .wrap .img_02 {background-image: url(./img/img_02.png);width: 92px;height: 90px;}
.img_box .wrap .img_03 {background-image: url(./img/img_03.png);width: 104px;height: 72px;}
.img_box .wrap .img_04 {background-image: url(./img/img_04.png);width: 98px;height: 69px;}
.img_box .wrap .img_05 {background-image: url(./img/img_05.png);width: 103px;height: 104px;}
.img_box .wrap .img_06 {background-image: url(./img/img_06.png);width: 110px;height: 85px;}

/* us */
.wrap .us {padding: 100px 0;}
.wrap .title {font-size: 58px;}
.wrap .lorem {font-size: 12px;line-height: 2;margin-top: 40px;}
.wrap .ul_box {display: flex;justify-content: space-between;margin-top: 50px;}
.wrap .us .ul_box li .img {width: 370px;height: 420px;position: relative;}
.wrap .us .ul_box li .luke {width: 265px;box-sizing: border-box;background: #ffe600;padding: 10px 20px;position: absolute;bottom: 0;}
.wrap .us .ul_box li .luke .txt {display: block;}
.wrap .us .ul_box li .luke strong {font-size: 15px;}
.wrap .us .ul_box li .luke span {font-size: 12px;color: #fff;margin-top: 15px;}
.wrap .us .ul_box .little {width: 370px;height: 420px;background: #fff;border: 5px solid #fdfdfd;box-sizing: border-box;display: flex;align-items: center;justify-content: center;}
.wrap .us .ul_box .little strong {font-size: 23px;}
.wrap .us .ul_box .little p {font-size: 13px;line-height: 2;margin: 30px 0;}
.wrap .us .ul_box .little a {font-size: 13px;color: #000;}
.wrap .us .ul_box .little a:hover {color: #ffe600;}

/* container */
.container {background: #fdfdfd;padding: 100px 0;}
.container .wrap .ul_box li a {height: 280px;}
.container .wrap .ul_box li .blog {background: #fff;padding: 30px;}
.container .wrap .ul_box li .blog strong {font-size: 15px;}
.container .wrap .ul_box li .blog .text {font-size: 12px;}
.container .wrap .ul_box li .blog p {line-height: 2;letter-spacing: 0.5px;margin: 15px 0;}

/* con */
.wrap .con {padding-top: 100px;}
.wrap .con .con_sub {margin-top: 40px;display: flex;justify-content: space-between;align-items: center;}
.wrap .con .con_sub .con_left strong {font-size: 30px;}
.wrap .con .con_sub .con_left .message {margin-top: 40px;}
.wrap .con .con_sub .con_left .message .ip {display: block;width: 570px;outline: none;border: none;box-sizing: border-box;background: #fdfdfd;}
.wrap .con .con_sub .con_left .message input {height: 45px;font-size: 12px;padding: 0 15px;margin-bottom: 10px;}
.wrap .con .con_sub .con_left .message textarea {height: 130px;padding: 15px;}
.wrap .con .con_sub .con_left .message .btn_box {margin-top: 20px;}
.wrap .con .con_sub .con_right {background: url(../Mint/img/13.png);width: 570px;height: 470px;}
.wrap .con .icon_box {display: flex;justify-content: space-evenly;padding: 70px 35px;}
.wrap .con .icon_box .icon {display: flex;flex-direction: column;align-items: center;font-size: 12px;line-height: 20px;}
.wrap .con .icon_box .icon::before {content: '';display: block;margin-bottom: 20px;}
.wrap .con .icon_box .icon.avenue::before {background-image: url(./img/icon_01.png);width: 23px;height: 28px;}
.wrap .con .icon_box .icon.number::before {background-image: url(./img/icon_02.png);width: 18px;height: 28px;}
.wrap .con .icon_box .icon.email::before {background-image: url(./img/icon_03.png);width: 27px;height: 26px;}

/* footer */
footer {background: #1e1e1e;padding: 55px 0;}
footer .wrap {display: flex;justify-content: space-between;align-items: center;}
footer .wrap .txt {font-size: 11px;color: #fff;}
footer .wrap .left {display: flex;align-items: center;}
footer .wrap .left span {margin-left: 30px;}
footer .wrap .right a {float: right;}
footer .wrap .right a:hover {color: #ffe600;}